<div class="g-sidebar init" id="g-sidebar">
    <div class="g-sidebar__wrap" id="g-sidebar__wrap" style="top: 0px;">
        <div class="g-sidebar__inner" id="g-sidebar__inner" style="margin: 0px auto;">
            <div class="sidebar-product" id="sw_sidebar-product">
                <div class="container">
                    <div class="sidebar-product__description">
                        <div class="product-pic"><img id="bottle-pic" src="https://skininc.staging.overdose.digital/pub/media/images/bottle.png" alt="product"></div>
                        <div class="product-name">
                            <div class="product-name__ttl" id="product-name-ttl">MY DAILY DOSE CUSTOM BLENDED SERUM COCKTAIL</div>
                            <div class="product-name__txt" id="product-short-description">A serum created and customized by you.</div>
                        </div>
                        <div class="product-price">
                            <div class="product-price__ttl" id="product-price__ttl">3 X 10ml</div>
                        </div>
                    </div>
                    <!-- end of sidebar-product__description -->
                    <form class="sidebar-product__form" id="add-to-cart-form">
                        <div class="form-group">
                            <label class="form-name">Bottle colour:</label>
                            <div class="checkbox-color" id="color-boxes">
                                <label class="color-box">
                                    <input id="color-box-35" data-url="/m/d/mdd_green.png" type="radio" name="color" value="35">
                                    <div style="background-color: #B9DB91;" class="box-view"></div>
                                </label>
                                <label class="color-box">
                                    <input id="color-box-34" data-url="/m/d/mdd_blue.png" type="radio" name="color" value="34">
                                    <div style="background-color: #76C8EB;" class="box-view"></div>
                                </label>
                                <label class="color-box">
                                    <input id="color-box-38" data-url="/m/d/mdd_orange.png" type="radio" name="color" value="38">
                                    <div style="background-color: #F8BE83;" class="box-view"></div>
                                </label>
                                <label class="color-box">
                                    <input id="color-box-36" data-url="/m/d/mdd_turquoise.png" type="radio" name="color" value="36">
                                    <div style="background-color: #C8E8E9;" class="box-view"></div>
                                </label>
                                <label class="color-box">
                                    <input id="color-box-37" data-url="/m/d/mdd_pink.png" type="radio" name="color" value="37">
                                    <div style="background-color: #F273B9;" class="box-view"></div>
                                </label>
                                <label class="color-box">
                                    <input id="color-box-39" data-url="/m/d/mdd_yellow.png" type="radio" name="color" value="39">
                                    <div style="background-color: #FEF585;" class="box-view"></div>
                                </label>
                                <label class="color-box">
                                    <input id="color-box-90" data-url="/r/o/rose_gold_mdd-hr.jpg" type="radio" name="color" value="90">
                                    <div style="background-color: #D4AF37;" class="box-view"></div>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-name">Your Name:</label>
                            <input type="text" placeholder="Enter your name here..." required="" class="form-control" id="skinid_name">
                        </div>
                        <div class="form-group">
                            <label class="form-name">Your Email:</label>
                            <input type="email" placeholder="Enter email..." required="" class="form-control" id="skinid_email" data-cta="add-to-cart">
                        </div>
                        <div class="form-group">
                            <div id="skininc-result-messages" style="text-align: center;"></div>
                        </div>
                        <div class="form-group" id="email-result-container">
                            <button type="button" class="btn btn-bag" data-status="enable" id="email-result-btn"><span>Email My Results</span></button>
                        </div>
                        <div class="form-group" id="add-to-cart-container">
                            <button type="submit" class="btn btn-bag" data-status="enable" id="add-to-cart-btn"><span>Add to bag</span></button>
                        </div>
                        <div class="form-group">
                            <div class="controls-buttons" id="controls-buttons">
                                <button class="btn" type="button" id="skinid-redo-button"><span class="icon ic2-btn-redo"></span><span>Redo quiz</span></button>
                                <button class="btn" type="button" id="skinid-facebook-button" data-title="Article Title" data-desc="Some description for this article"><span class="icon ic2-btn-share"></span><span>Share</span></button>
                                <button class="btn" type="button" id="skinid-print-button"><span class="icon ic2-btn-print"></span><span>Print</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="g-sidebar__progress">
            <div class="sidebar-progress">
                <div id="sidebar-barcode" class="sidebar-progress"><i class="line-small" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-small"></i><i class="line-small" style="background-color:#19aaff;" data-color="#19aaff" data-line="line-small"></i><i class="line-large" style="background-color:#ffdcb0;" data-color="#ffdcb0" data-line="line-large"></i><i class="line-large" style="background-color:#ff00ff;" data-color="#ff00ff" data-line="line-large"></i><i class="line-large" style="background-color:#388194;" data-color="#388194" data-line="line-large"></i><i class="line-large" style="background-color:#ffdcb0;" data-color="#ffdcb0" data-line="line-large"></i><i class="line-large" style="background-color:#ff00ff;" data-color="#ff00ff" data-line="line-large"></i><i class="line-small" style="background-color:#ffff00;" data-color="#ffff00" data-line="line-small"></i><i class="line-large" style="background-color:#ffdcb0;" data-color="#ffdcb0" data-line="line-large"></i><i class="line-large" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-large"></i><i class="line-medium" style="background-color:#19aaff;" data-color="#19aaff" data-line="line-medium"></i><i class="line-small" style="background-color:#388194;" data-color="#388194" data-line="line-small"></i><i class="line-small" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-small"></i><i class="line-small" style="background-color:#000079;" data-color="#000079" data-line="line-small"></i><i class="line-small" style="background-color:#ea8400;" data-color="#ea8400" data-line="line-small"></i><i class="line-small" style="background-color:#ff00ff;" data-color="#ff00ff" data-line="line-small"></i><i class="line-small" style="background-color:#19aaff;" data-color="#19aaff" data-line="line-small"></i><i class="line-small" style="background-color:#19aaff;" data-color="#19aaff" data-line="line-small"></i><i class="line-small" style="background-color:#388194;" data-color="#388194" data-line="line-small"></i><i class="line-small" style="background-color:#00ff00;" data-color="#00ff00" data-line="line-small"></i><i class="line-small" style="background-color:#19aaff;" data-color="#19aaff" data-line="line-small"></i><i class="line-small" style="background-color:#ffff00;" data-color="#ffff00" data-line="line-small"></i><i class="line-large" style="background-color:#ffdcb0;" data-color="#ffdcb0" data-line="line-large"></i><i class="line-small" style="background-color:#ff00ff;" data-color="#ff00ff" data-line="line-small"></i><i class="line-small" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-small"></i><i class="line-large" style="background-color:#000079;" data-color="#000079" data-line="line-large"></i><i class="line-large" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-large"></i><i class="line-large" style="background-color:#800080;" data-color="#800080" data-line="line-large"></i><i class="line-large" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-large"></i><i class="line-large" style="background-color:#000079;" data-color="#000079" data-line="line-large"></i><i class="line-large" style="background-color:#ff00ff;" data-color="#ff00ff" data-line="line-large"></i><i class="line-large" style="background-color:#ffdcb0;" data-color="#ffdcb0" data-line="line-large"></i><i class="line-large" style="background-color:#ff0000;" data-color="#ff0000" data-line="line-large"></i><i class="line-large" style="background-color:#000079;" data-color="#000079" data-line="line-large"></i><i class="line-large" style="background-color:#ffff00;" data-color="#ffff00" data-line="line-large"></i><i class="line-large" style="background-color:#ff00ff;" data-color="#ff00ff" data-line="line-large"></i></div>
            </div>
        </div>
    </div>
</div>
