<div class="section-container section-result quiz-main-container quiz-14" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">13</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">12</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">On average, how many hours a week do you exercise?</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">Exercise thickens the dermis and boosts blood circulation which can lower your skin's biological age.</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="exercise" data-female="13" data-male="12" data-step="14">
                    <div id="answer_61" data-serums="vta,chl" data-lines="L,L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="61">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="50" height="50">
                                    <title>24_exercise_never0</title>
                                    <rect fill="none" class="cls-1" x="11.98" y="13.45" width="2.33" height="3.26" transform="translate(-6.81 13.71) rotate(-45)"></rect>
                                    <rect fill="none" class="cls-1" x="35.69" y="13.45" width="2.33" height="3.26" transform="translate(52.25 51.81) rotate(-135)"></rect>
                                    <circle fill="none" class="cls-1" cx="25" cy="26.76" r="14.83"></circle>
                                    <rect fill="none" class="cls-1" x="23.83" y="8.66" width="2.33" height="3.26"></rect>
                                    <rect fill="none" class="cls-2" x="23.83" y="5.42" width="2.33" height="4.94" transform="translate(32.89 -17.11) rotate(90)"></rect>
                                    <line fill="none" class="cls-3" x1="18.64" y1="20.4" x2="31.36" y2="33.12"></line>
                                    <line fill="none" class="cls-3" x1="31.36" y1="20.4" x2="18.64" y2="33.12"></line>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">I never exercise</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_62" data-serums="vta" data-lines="L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="62">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="50" height="50">
                                    <title>25_exercise_1_50</title>
                                    <circle fill="none" class="cls-1" cx="24.48" cy="26.76" r="14.83"></circle>
                                    <rect fill="none" class="cls-1" x="11.47" y="13.45" width="2.33" height="3.26" transform="translate(-6.97 13.35) rotate(-45)"></rect>
                                    <rect fill="none" class="cls-1" x="35.17" y="13.45" width="2.33" height="3.26" transform="translate(51.37 51.44) rotate(-135)"></rect>
                                    <path fill="none" class="cls-2" d="M24.48,26.76V16.7a1,1,0,0,1,1.1-1,11.12,11.12,0,0,1,10,10,1,1,0,0,1-1,1.1Z"></path>
                                    <rect fill="none" class="cls-1" x="23.32" y="8.66" width="2.33" height="3.26"></rect>
                                    <rect fill="none" class="cls-3" x="23.32" y="5.42" width="2.33" height="4.94" transform="translate(32.38 -16.59) rotate(90)"></rect>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">1-5 hours per week</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_63" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="63">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                    <title>26_exercise_5plus0</title>
                                    <circle fill="none" class="cls-1" cx="24.48" cy="26.76" r="14.83"></circle>
                                    <rect fill="none" class="cls-1" x="11.47" y="13.45" width="2.33" height="3.26" transform="translate(-6.97 13.35) rotate(-45)"></rect>
                                    <rect fill="none" class="cls-1" x="35.17" y="13.45" width="2.33" height="3.26" transform="translate(51.37 51.44) rotate(-135)"></rect>
                                    <rect fill="none" class="cls-1" x="23.32" y="8.66" width="2.33" height="3.26"></rect>
                                    <rect fill="none" class="cls-2" x="23.32" y="5.42" width="2.33" height="4.94" transform="translate(32.38 -16.59) rotate(90)"></rect>
                                    <path fill="none" class="cls-3" d="M24.48,26.76V16.7a1,1,0,0,1,1.11-1A11.12,11.12,0,1,1,13.42,27.87a1,1,0,0,1,1-1.11Z"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">More than 5 hours per week</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
