<div class="section-container section-result quiz-main-container quiz-4" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1" id="question_number">3</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">Does your skin break out right before or during menstruation?</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Your monthly cycle and hormone levels effect skin chemistry.</div>
              </div>
          </div>

          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="s-list-questions" class="s-list-question" data-tag="break-out" data-female="3" data-step="4">
                      <div id="answer_27" data-serums="vta,vtb,vtc" data-lines="L,S" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="27">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Yes</div>
                              </div>
                          </div>
                      </div>
                      <div id="answer_28" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="28">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">No</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
