<div class="section-container section-result quiz-main-container quiz-17" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">16</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">15</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">On average, how many glasses of alcohol do you consume in a week?</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">Alcohol not only causes dehydration, but as it breaks down in your body it releases acetaldehyde which can dilate pores and lead to breakouts. Excessive drinking may lead to Vitamin B deficiency.</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="alcohol" data-female="16" data-male="15" data-step="17">
                    <div id="answer_78" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="78">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                    <title>11_alcohol00</title>
                                    <polyline fill="none" class="cls-1" points="12.78 2.75 11.78 2.75 11.78 3.75"></polyline>
                                    <path fill="none" class="cls-2" d="M11.78,6.72V14.1a13.22,13.22,0,1,0,26.45,0V5.24"></path>
                                    <polyline fill="none" class="cls-1" points="38.23 3.75 38.23 2.75 37.23 2.75"></polyline>
                                    <line class="cls-3" x1="34.04" y1="2.75" x2="14.38" y2="2.75"></line>
                                    <line class="cls-1" x1="25.08" y1="29.18" x2="25.08" y2="30.18"></line>
                                    <line class="cls-4" x1="25.08" y1="32.83" x2="25.08" y2="44.78"></line>
                                    <line class="cls-1" x1="25.08" y1="46.11" x2="25.08" y2="47.11"></line>
                                    <line class="cls-1" x1="32.74" y1="49.11" x2="31.74" y2="49.11"></line>
                                    <line class="cls-5" x1="28.63" y1="49.11" x2="19.83" y2="49.11"></line>
                                    <line class="cls-1" x1="18.27" y1="49.11" x2="17.27" y2="49.11"></line>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">None</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_79" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="79">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                    <title>12_alcohol50</title>
                                    <path fill="none" class="cls-1" d="M11.78,2.82V14.17a13.22,13.22,0,0,0,26.45,0V2.82Z"></path>
                                    <line fill="none" class="cls-1" x1="25" y1="27.67" x2="25" y2="49.65"></line>
                                    <line fill="none" class="cls-1" x1="32.74" y1="49.11" x2="17.26" y2="49.11"></line>
                                    <path fill="none" class="cls-1" d="M12.81,19.33c3,0,3,1,6.09,1s3-1,6.09-1,3,1,6.1,1,3-1,6.1-1"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Up to 5</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_80" data-serums="vtb" data-lines="L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="80">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                    <title>13_alcohol100</title>
                                    <path fill="none" class="cls-1" d="M11.78,2.82V14.17a13.22,13.22,0,0,0,26.45,0V2.82Z"></path>
                                    <line fill="none" class="cls-1" x1="25" y1="27.67" x2="25" y2="49.65"></line>
                                    <line fill="none" class="cls-1" x1="32.74" y1="49.11" x2="17.26" y2="49.11"></line>
                                    <path fill="none" class="cls-1" d="M12.81,14c3,0,3,1,6.09,1s3-1,6.09-1,3,1,6.1,1,3-1,6.1-1"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Up to 10</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_81" data-serums="vtb" data-lines="L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="81">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                    <title>14_alcohol_morethan100</title>
                                    <path fill="none" class="cls-1" d="M14.42,2.82V14.17a13.22,13.22,0,0,0,26.45,0V2.82Z"></path>
                                    <line fill="none" class="cls-1" x1="27.65" y1="27.67" x2="27.65" y2="49.65"></line>
                                    <line fill="none" class="cls-1" x1="35.38" y1="49.11" x2="19.91" y2="49.11"></line>
                                    <path fill="none" class="cls-1" d="M14.44,6.95c3.3,0,3.3,1,6.6,1s3.3-1,6.6-1,3.3,1,6.61,1,3.3-1,6.61-1"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">More than 10</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
