<div class="section-container section-result quiz-main-container quiz-12" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">11</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">10</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">How often do you travel by air?</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">Airplane cabins are harsh, dehydrating environments which require special counter measures.</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="air-travel" data-female="11" data-male="10" data-step="12">
                    <div id="answer_55" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="55">
                        <div class="s-list__item">
                            <div class="item-txt">
                                <div class="item-txt-wrap">Never</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_56" data-serums="vtb" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="56">
                        <div class="s-list__item">
                            <div class="item-txt">
                                <div class="item-txt-wrap">Sometimes</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_57" data-serums="vtc,fpb,lic" data-lines="L,L,L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="57">
                        <div class="s-list__item">
                            <div class="item-txt">
                                <div class="item-txt-wrap">Regularly</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
