<div class="section-container section-result quiz-main-container quiz-6" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1 female_numbers" id="question_number">5</div>
              <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">4</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">Compared to their peers, my parents look good for their age.</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Genetics play a sizeable role in skin chemistry and the ageing process.</div>
              </div>
          </div>

          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="s-list-questions" class="s-list-question" data-tag="parents-look" data-male="4" data-female="5" data-step="6">
                      <div id="answer_29" data-serums="fpb,cer" data-lines="L,M" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="29">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Yes</div>
                              </div>
                          </div>
                      </div>
                      <div id="answer_30" data-serums="cqt,chl,col" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="30">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">No</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
