<div class="section-container section-result quiz-main-container quiz-1" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1" id="question_number">1</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">How old are you? <span>(Don’t worry, we won't tell.)</span></div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Your age is an integral part of your Skin Identity.</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="s-list-questions" data-tag="age" class="s-list-question" data-male="1" data-female="1" data-step="1">
                      <div data-serums="vtb,fpb" class="answer s-list__item-wrap">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Less than 24</div>
                              </div>
                          </div>
                      </div>
                      <div data-serums="vtb,fpb" class="answer s-list__item-wrap">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">25 - 34</div>
                              </div>
                          </div>
                      </div>
                      <div data-serums="vta,lic,cer" class="answer s-list__item-wrap">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">35-44</div>
                              </div>
                          </div>
                      </div>
                      <div data-serums="vta,lic,cer" class="answer s-list__item-wrap">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">45-54</div>
                              </div>
                          </div>
                      </div>
                      <div  data-serums="cqt,chl,col" class="answer s-list__item-wrap">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Above 55</div>
                              </div>
                          </div>
                      </div>
                      <div  data-serums="" class="answer s-list__item-wrap">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">21 forever darling.</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
