<div class="section-container section-result quiz-main-container quiz-3" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1" id="question_number">3</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">How often you shave ?</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Shaving regularly irritates and sensitizes the skin.</div>
              </div>
          </div>

          <div class="s-part container">
          <div class="s-part__empty"></div>
          <div class="s-part__inner">
              <div id="s-list-questions" class="s-list-question" data-tag="shave" data-male="3" data-step="5">
                  <div data-serums="lic,cer" class="answer s-list__item-wrap">
                      <div class="s-list__item">
                          <div class="item-txt">
                              <div class="item-txt-wrap">Every Day</div>
                          </div>
                      </div>
                  </div>
                  <div data-serums="" data-lines="" class="answer s-list__item-wrap">
                      <div class="s-list__item">
                          <div class="item-txt">
                              <div class="item-txt-wrap">Sometimes</div>
                          </div>
                      </div>
                  </div>
                  <div data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="26">
                      <div class="s-list__item">
                          <div class="item-txt">
                              <div class="item-txt-wrap">Almost Never</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </div>
  </div>
