<div class="section-container section-result quiz-main-container quiz-10" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">9</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">8</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">How frequently would you describe yourself as stressed out?</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">Stress releases cortisol which can have a negative effect on your skin chemistry.</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="stress-level" data-male="8" data-female="9" data-step="10">
                    <div id="answer_48" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="48">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="50" height="50">
                                    <title>30_stress_never0</title>
                                    <path fill="none" class="st0" d="M9.4,46.7c-0.5,0-0.9-0.5-0.9-1c0.5-9.5,7.7-17,16.6-17s16.1,7.5,16.6,17c0,0.5-0.4,1-0.9,1H9.4z"></path>
                                    <circle fill="none" class="st1" cx="25" cy="22.2" r="9.2"></circle>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Never</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_50" data-serums="fpb,lic" data-lines="L,L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="50">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="50" height="50">
                                    <title>31_stress_sometimes0</title>
                                    <path fill="none" class="st0" d="M9.4,46.7c-0.5,0-0.9-0.5-0.9-1c0.5-9.5,7.7-17,16.6-17s16.1,7.5,16.6,17c0,0.5-0.4,1-0.9,1H9.4z"></path>
                                    <circle fill="none" class="st1" cx="25" cy="22.2" r="9.2"></circle>
                                    <line fill="none" class="st2" x1="25" y1="5.1" x2="25" y2="8.5"></line>
                                    <line fill="none" class="st2" x1="15.2" y1="12.6" x2="12.7" y2="10.1"></line>
                                    <line fill="none" class="st2" x1="34.8" y1="12.6" x2="37.3" y2="10.1"></line>
                                    <line fill="none" class="st2" x1="19.5" y1="8.8" x2="18.8" y2="7.1"></line>
                                    <line fill="none" class="st2" x1="30.5" y1="8.8" x2="31.2" y2="7.1"></line>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Sometimes</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_51" data-serums="lic,cer" data-lines="L,L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="51">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="50" height="50">
                                    <title>32_stress_regularly0</title>
                                    <path fill="none" class="st0" d="M9.4,46.7c-0.5,0-0.9-0.5-0.9-1c0.5-9.5,7.7-17,16.6-17s16.1,7.5,16.6,17c0,0.5-0.4,1-0.9,1H9.4z"></path>
                                    <circle fill="none" class="st1" cx="25" cy="22.2" r="9.2"></circle>
                                    <polyline fill="none" class="st2" points="25.5,3.3 24.6,5.2 25.5,7.1 24.6,9 "></polyline>
                                    <polyline fill="none" class="st2" points="19.5,8 19.5,6.7 18.6,5.8 18.6,4.5 "></polyline>
                                    <polyline fill="none" class="st2" points="30.1,7.8 31.1,6.9 31,5.6 32,4.7 "></polyline>
                                    <polyline fill="none" class="st2" points="38,15.3 39.3,15.3 40.2,14.4 41.5,14.4 "></polyline>
                                    <polyline fill="none" class="st2" points="8.7,14.1 9.6,15.1 10.9,15 11.8,16 "></polyline>
                                    <polyline fill="none" class="st2" points="37.8,8.7 36,9.6 35.2,11.4 33.4,12.3 "></polyline>
                                    <polyline fill="none" class="st2" points="16.3,12.8 15.4,10.9 13.6,10.1 12.7,8.3 "></polyline>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Regularly</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
