<div class="section-container section-result quiz-main-container quiz-5" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1" id="question_number">4</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">Are you currently pregnant or breastfeeding or plan to be soon?</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Pregnancy may lead to skin darkening, eczema, or dryness. Additionally, certain active ingredients should be avoided by pregnant or lactating women.</div>
              </div>
          </div>

          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="s-list-questions" class="s-list-question" data-tag="pregnant" data-female="4" data-step="5">
                      <div id="answer_29" data-serums="vtb" data-pregnancy="yes" data-lines="L,M" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="29">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Yes</div>
                              </div>
                          </div>
                      </div>
                      <div id="answer_30" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="30">
                          <div class="s-list__item">
                              <div class="item-txt">
                                  <div class="item-txt-wrap">No</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
