<div class="section-container section-result quiz-main-container quiz-15" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">14</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">13</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">On average, how many glasses of water do you drink per day?</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">Adequate water consumption keeps skin moisturized and helps prevent thinning skin.</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="water" data-female="14" data-male="13" data-step="15">
                    <div id="answer_64" data-serums="vtb" data-lines="L,L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="64">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="50" height="50">
                                    <title>18_water_30</title>
                                    <path fill="none" class="cls-1" d="M31.42,45H18.58a4.29,4.29,0,0,1-4.28-4.08L11.5,5h27L35.7,40.92A4.29,4.29,0,0,1,31.42,45Z"></path>
                                    <path fill="none" class="cls-1" d="M13.77,34.29c2.12.18,2.44,1,5.13,1,3,0,3-1,6.09-1s3,1,6.1,1c2.67,0,3-.77,5.08-1"></path>
                                    <line fill="none" class="cls-2" x1="34.39" y1="14.95" x2="32.36" y2="40.92"></line>
                                    <line fill="none" class="cls-2" x1="34.86" y1="8.84" x2="34.64" y2="11.73"></line>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Less than 3</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_66" data-serums="cer" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="66">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="50" height="50">
                                    <title>19_water_60</title>
                                    <path fill="none" class="cls-1" d="M31.42,45H18.58a4.29,4.29,0,0,1-4.28-4.08L11.5,5h27L35.7,40.92A4.29,4.29,0,0,1,31.42,45Z"></path>
                                    <path fill="none" class="cls-1" d="M13.24,24.51c2.62.09,2.76,1,5.66,1,3,0,3-1,6.09-1s3,1,6.1,1,3-.92,5.73-1"></path>
                                    <line fill="none" class="cls-2" x1="34.39" y1="14.95" x2="32.36" y2="40.92"></line>
                                    <line fill="none" class="cls-2" x1="34.86" y1="8.84" x2="34.64" y2="11.73"></line>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Up to 6</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_69" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="69">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="50" height="50">
                                    <title>20_water_6ormore0</title>
                                    <path fill="none" class="cls-1" d="M31.42,45H18.58a4.29,4.29,0,0,1-4.28-4.08L11.5,5h27L35.7,40.92A4.29,4.29,0,0,1,31.42,45Z"></path>
                                    <path fill="none" class="cls-1" d="M12.81,14.75c3,0,3,1,6.09,1s3-1,6.09-1,3,1,6.1,1,3-1,6.1-1"></path>
                                    <line fill="none" class="cls-2" x1="34.39" y1="14.95" x2="32.36" y2="40.92"></line>
                                    <line fill="none" class="cls-2" x1="34.86" y1="8.84" x2="34.64" y2="11.73"></line>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">More than 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
