<div class="section-container section-result quiz-main-container quiz-7" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1 female_numbers" id="question_number">6</div>
              <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">5</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">When exposed to the sun, my skin…</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Your sensitivity to the sun is a predictor of susceptability to early ageing.</div>
              </div>
          </div>

          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="s-list-questions" class="s-list-question" data-tag="sun-skin" data-male="5" data-female="6" data-step='7'>
                      <div id="answer_33" data-serums="vta,vtb" data-lines="S" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="33">
                          <div class="s-list__item">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>01_tan_easily0</title>
                                      <circle fill="none" class="cls-1" cx="25" cy="25" r="13.22"></circle>
                                      <line class="cls-1" x1="25.03" x2="25.03" y2="5"></line>
                                      <line class="cls-1" x1="25.03" y1="45" x2="25.03" y2="50"></line>
                                      <line class="cls-1" x1="50.03" y1="25" x2="45.03" y2="25"></line>
                                      <line class="cls-1" x1="5.03" y1="25" x2="0.03" y2="25"></line>
                                      <line class="cls-1" x1="42.71" y1="42.68" x2="39.17" y2="39.14"></line>
                                      <line class="cls-1" x1="10.89" y1="10.86" x2="7.35" y2="7.32"></line>
                                      <line class="cls-1" x1="7.35" y1="42.68" x2="10.89" y2="39.14"></line>
                                      <line class="cls-1" x1="39.17" y1="10.86" x2="42.71" y2="7.32"></line>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Tans Easily</div>
                              </div>
                          </div>
                      </div>
                      <div id="answer_34" data-serums="fpb,lic" data-lines="S,S" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="34">
                          <div class="s-list__item">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>02_burn_easily0</title>
                                      <circle fill="none" class="cls-1" cx="25" cy="25" r="13.22"></circle>
                                      <line class="cls-1" x1="25.03" x2="25.03" y2="5"></line>
                                      <line class="cls-1" x1="25.03" y1="45" x2="25.03" y2="50"></line>
                                      <line class="cls-1" x1="50.03" y1="25" x2="45.03" y2="25"></line>
                                      <line class="cls-1" x1="5.03" y1="25" x2="0.03" y2="25"></line>
                                      <line class="cls-1" x1="42.71" y1="42.68" x2="39.17" y2="39.14"></line>
                                      <line class="cls-1" x1="10.89" y1="10.86" x2="7.35" y2="7.32"></line>
                                      <line class="cls-1" x1="7.35" y1="42.68" x2="10.89" y2="39.14"></line>
                                      <line class="cls-1" x1="39.17" y1="10.86" x2="42.71" y2="7.32"></line>
                                      <line class="cls-1" x1="34.41" y1="48.17" x2="32.53" y2="43.54"></line>
                                      <line class="cls-1" x1="17.53" y1="6.46" x2="15.65" y2="1.83"></line>
                                      <line class="cls-1" x1="15.65" y1="48.17" x2="17.53" y2="43.54"></line>
                                      <line class="cls-1" x1="32.53" y1="6.46" x2="34.41" y2="1.83"></line>
                                      <line class="cls-1" x1="2.01" y1="34.75" x2="6.62" y2="32.8"></line>
                                      <line class="cls-1" x1="43.44" y1="17.2" x2="48.05" y2="15.25"></line>
                                      <line class="cls-1" x1="1.86" y1="15.62" x2="6.49" y2="17.5"></line>
                                      <line class="cls-1" x1="43.57" y1="32.5" x2="48.2" y2="34.38"></line>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Burns Easily</div>
                              </div>
                          </div>
                      </div>
                      <div id="answer_35" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="35">
                          <div class="s-list__item">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>03_neither0</title>
                                      <circle fill="none" class="cls-1" cx="25" cy="25" r="13.22"></circle>
                                      <line class="cls-1" x1="7.35" y1="42.68" x2="10.89" y2="39.14"></line>
                                      <line class="cls-1" x1="39.17" y1="10.86" x2="42.71" y2="7.32"></line>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Neither</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
