<div class="section-container section-result quiz-main-container quiz-13" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">12</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">11</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">On average, how many hours of sleep do you get each night? </div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">Too little sleep means natural cell renewal and skin repair can slow down leading to premature aging..</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="ave-sleep" data-female="12" data-male="11" data-step="13">
                    <div id="answer_58" data-serums="vta,vtb" data-lines="L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="58">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" width="45" height="45" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <title>21_sleep_less40</title>
                                    <path fill="none" class="st0" d="M31.2,32.6c-7.3-2.1-11.5-9.7-9.3-17c0.5-1.6,1.2-3,2.2-4.3c-7.6,0.5-13.3,7.1-12.8,14.7  c0.5,7.6,7.1,13.3,14.7,12.8c4-0.3,7.7-2.3,10.1-5.6C34.4,33.3,32.7,33.1,31.2,32.6z"></path>
                                    <polygon fill="none" class="st1" points="32.2,18 33.4,15.7 34.7,18 37,19.2 34.7,20.5 33.4,22.8 32.2,20.5 29.9,19.2 "></polygon>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Less than 4 hour of sleep</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_59" data-serums="vta" data-lines="L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="59">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="45" height="45">
                                    <title>22_sleep_4_60</title>
                                    <path fill="none" class="st0" d="M32.6,32.6c-7.3-2.1-11.5-9.7-9.4-17c0.5-1.6,1.2-3,2.2-4.4c-7.6,0.5-13.3,7.1-12.8,14.7  c0.5,7.6,7.1,13.3,14.7,12.8c4-0.3,7.7-2.3,10.1-5.6C35.8,33.3,34.2,33.1,32.6,32.6z"></path>
                                    <polygon fill="none" class="st1" points="30.9,19.5 28.5,18.3 30.8,17 32.1,14.7 33.3,17 35.6,18.2 33.4,19.5 32.1,21.8 "></polygon>
                                    <polygon fill="none" class="st1" points="38.1,24.5 36.8,23.7 38.1,23.1 38.9,21.8 39.5,23.1 40.8,23.8 39.5,24.5 38.8,25.8 "></polygon>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">4-6 hours of sleep</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_60" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="60">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="50" height="50">
                                    <title>23_sleep_7_80</title>
                                    <path fill="none" class="st0" d="M29.2,32.6c-7.3-2.1-11.5-9.7-9.4-17c0.5-1.6,1.2-3.1,2.2-4.4c-7.6,0.5-13.3,7.1-12.8,14.7  c0.5,7.6,7.1,13.3,14.7,12.8c4-0.3,7.7-2.3,10.1-5.6C32.4,33.3,30.8,33.1,29.2,32.6z"></path>
                                    <polygon fill="none" class="st1" points="33.9,11.6 35.2,9.4 36.4,11.6 38.7,12.9 36.4,14.2 35.2,16.5 33.9,14.2 31.6,12.9 "></polygon>
                                    <polygon fill="none" class="st1" points="27.5,19.2 28.2,17.9 28.9,19.2 30.2,19.9 28.9,20.6 28.2,21.9 27.5,20.6 26.2,19.9 "></polygon>
                                    <polygon fill="none" class="st1" points="37.2,24 38.1,22.2 39.1,24 40.8,24.9 39.1,25.8 38.1,27.6 37.2,25.8 35.5,24.9 "></polygon>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">7-8+ hours of sleep </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
