<div class="section-container section-result quiz-main-container quiz-11" style="display: none;">
    <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__number h1 female_numbers" id="question_number">10</div>
            <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">9</div>
            <div class="s-part__inner s-title">
                <div id="section-title" class="s-subttl">Your lifestyle &amp; environment</div>
                <div id="question-title" class="s-ttl h2">I eat a balanced diet</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="question-description" class="s-txt">A diet rich in fruits and veggies—and healthy fats like those found in fish—helps fight oxidative stress and keep skin supple.</div>
            </div>
        </div>
        <div class="s-part container">
            <div class="s-part__empty"></div>
            <div class="s-part__inner">
                <div id="s-list-questions" class="s-list-question" data-tag="balance-diet" data-female="10" data-male="9" data-step="11">
                    <div id="answer_52" data-serums="vtb,vtc,lic" data-lines="L,L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="52">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="50" height="50">
                                    <title>01_never</title>
                                    <path fill="none" class="st0" d="M8,28v0.8c0,9.1,7.4,16.5,16.5,16.5S41,37.9,41,28.8V28H8z M24.5,43.8c-8,0-14.6-6.3-15-14.3h30  C39.1,37.4,32.5,43.8,24.5,43.8z"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Never</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_53" data-serums="vtb,vtc" data-lines="L" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="53">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="50" height="50">
                                    <title>Sometimes</title>
                                    <path fill="none" class="cls-1" d="M8.47,28.39v.75a16.53,16.53,0,0,0,33.06,0v-.75ZM25,44.17A15.05,15.05,0,0,1,10,29.89H40A15.05,15.05,0,0,1,25,44.17Z"></path>
                                    <path fill="none" class="cls-1" d="M32.81,24.79v.84A1.35,1.35,0,0,0,34.15,27h1.66a1.35,1.35,0,0,0,1.35-1.35v-.84a2.56,2.56,0,0,0,.2-5.08,2.54,2.54,0,0,0-4.69,0,2.56,2.56,0,0,0,.14,5.09Zm1.5.69v-.67h1.35v.67ZM33,21.18h.14l.73.1.11-.74a1,1,0,0,1,2.07,0l.1.71.72-.08A1.07,1.07,0,0,1,38,22.24,1.06,1.06,0,0,1,37,23.31H33a1.07,1.07,0,0,1,0-2.13Z"></path>
                                    <path fill="none" class="cls-1" d="M13,23.85a2.55,2.55,0,1,0-2.55-2.54A2.55,2.55,0,0,0,13,23.85Zm0-3.59a1,1,0,1,1-1,1A1,1,0,0,1,13,20.26Z"></path>
                                    <path fill="none" class="cls-1" d="M14.73,25.12A2.24,2.24,0,1,0,17,22.88,2.23,2.23,0,0,0,14.73,25.12ZM17,24.38a.74.74,0,1,1-.73.74A.74.74,0,0,1,17,24.38Z"></path>
                                    <path fill="none" class="cls-1" d="M22.14,19.47a.5.5,0,0,0,.47.36l.14,0,1.56-.44a.51.51,0,0,0,.34-.62.5.5,0,0,0-.61-.34l-1.56.44A.49.49,0,0,0,22.14,19.47Z"></path>
                                    <path fill="none" class="cls-1" d="M20.63,14.16a2.48,2.48,0,0,0-1.43,1.28c-.58,1.36.13,3.38,3,8.67.87,1.68,2.11,3.57,3.31,3.57a1,1,0,0,0,.3,0c1-.3,1.33-1.66,1.07-4.86-.52-6.19-.74-8.19-1.95-9a2.56,2.56,0,0,0-2.08-.25l.39-4.35A.75.75,0,1,0,21.77,9l-.15,1.65L20.86,8a.76.76,0,0,0-.93-.52.74.74,0,0,0-.51.93l.87,3.09L19,10a.75.75,0,0,0-1.13,1Zm3.1.74a.62.62,0,0,1,.36.08,1.35,1.35,0,0,1,.39.67l-1,.27a.49.49,0,0,0,.13,1,.34.34,0,0,0,.14,0l.94-.26c.19,1,.34,2.4.49,4.08l-1.28.39a.5.5,0,0,0,.14,1l.15,0,1.08-.33c0,.39.07.79.1,1.2,0,0,0,.07,0,.1l-.51.15a.49.49,0,0,0,.13,1l.14,0,.3-.08a7.57,7.57,0,0,1-.1,2,11,11,0,0,1-1.82-2.64v0c-1.79-3.26-3.38-6.41-3-7.37.16-.39.87-.61,1.85-.88A5.24,5.24,0,0,1,23.73,14.9Z"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Sometimes</div>
                            </div>
                        </div>
                    </div>
                    <div id="answer_54" data-serums="" data-lines="" class="answer s-list__item-wrap" data-questiontype="single" data-answerid="54">
                        <div class="s-list__item">
                            <div class="item-pic">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="50" height="50">
                                    <title>regular</title>
                                    <path fill="none" class="st0" d="M14.6,21.1c0.1,0.2,0.3,0.4,0.5,0.4h0.1l1.6-0.4c0.3-0.1,0.4-0.3,0.3-0.6C17,20.1,16.7,20,16.5,20c0,0,0,0,0,0  l-1.6,0.4C14.7,20.6,14.5,20.8,14.6,21.1z"></path>
                                    <path fill="none" class="st0" d="M42.2,14.9l0.2-0.2c1.1-1.1,1.1-2.9,0-4l-0.3-0.3c-1.1-1.1-2.9-1.1-4,0l-0.4,0.4c-0.3-0.9-1.2-1.5-2.1-1.6  c-1.3,0.1-2.3,1.3-2.2,2.6v0.2c-0.3-0.1-0.6-0.2-0.9-0.2c-1.3,0.1-2.3,1.3-2.2,2.6v0.4c-0.3-0.2-0.6-0.3-1-0.3  c-1.4,0.1-2.4,1.2-2.4,2.6v7.6l-2.9,2.9c-0.3,0.3-0.3,0.8,0,1.1c0.3,0.3,0.8,0.3,1.1,0l2.9-2.9h8.1c1.4,0.1,2.5-1,2.6-2.4  c0-0.3-0.1-0.7-0.3-1h0.4c1.3,0.1,2.5-0.9,2.6-2.2c0-0.3-0.1-0.6-0.2-0.9h0.2c1.3,0.1,2.5-0.9,2.6-2.2  C43.8,16.1,43.2,15.2,42.2,14.9z M41.2,17.8h-2.5h-0.1c-0.1,0-0.1,0-0.2,0l0,0c-0.2,0.1-0.4,0.3-0.5,0.6c-0.1,0.3,0.1,0.7,0.5,0.8  l0,0h0.1c0.6,0.1,1.2,0.5,1.2,0.9s-0.5,0.8-1.1,0.8h-2.5c-0.4,0-0.8,0.3-0.8,0.7c0,0.4,0.2,0.7,0.6,0.8c0.6,0.1,1.2,0.6,1.2,1  c-0.1,0.5-0.6,0.9-1.1,0.9c0,0,0,0,0,0h-6.6l0.8-0.8h3.1c0.4,0,0.8-0.3,0.8-0.8s-0.3-0.8-0.8-0.8h-1.6l1.5-1.5h3.1  c0.4,0,0.8-0.3,0.8-0.8s-0.3-0.8-0.8-0.8h-1.6l1.7-1.7h2.1c0.4,0,0.8-0.3,0.8-0.8s-0.3-0.7-0.8-0.7h-0.6l1.5-1.5  c0.3-0.3,0.3-0.8,0-1.1s-0.8-0.3-1.1,0c0,0,0,0,0,0l-1.6,1.6v-0.6c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8v2.1l-1.5,1.5  c0-0.3,0-0.7,0-1.2c0-0.4-0.3-0.7-0.8-0.7s-0.8,0.3-0.8,0.7c0,1,0,2.2,0,2.7l-1.5,1.5v-1.3c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8  v3l-0.9,0.9v-6c-0.1-0.5,0.3-1,0.9-1.1c0.5,0,0.9,0.5,1,1.2c0.1,0.4,0.5,0.7,0.9,0.6c0.4-0.1,0.7-0.4,0.6-0.8c0,0,0,0,0,0v-2.5  c0-0.7,0.4-1.1,0.7-1.1s0.8,0.5,0.9,1.2c0,0,0,0.1,0,0.1l0,0c0.1,0.4,0.6,0.6,0.9,0.4c0.3-0.1,0.4-0.4,0.5-0.6c0,0,0-0.1,0-0.1v-2.5  c0-0.7,0.4-1.1,0.7-1.1s0.8,0.5,0.9,1.1v0.5c0,0.4,0.3,0.8,0.8,0.8c0.3,0,0.5-0.2,0.7-0.4l1.3-1.3c0.5-0.5,1.4-0.5,1.9,0l0.3,0.3  c0.5,0.5,0.5,1.4,0,1.9L40,14.9c-0.3,0.3-0.3,0.8,0,1.1c0.1,0.1,0.3,0.2,0.5,0.2h0.6c0.6,0.1,1.1,0.5,1.1,0.9S41.9,17.8,41.2,17.8  L41.2,17.8z"></path>
                                    <path fill="none" class="st0" d="M22.1,13.3v0.8c0,0.7,0.6,1.4,1.4,1.4l0,0h1.7c0.7,0,1.4-0.6,1.4-1.3c0,0,0,0,0,0v-0.8c1.4-0.1,2.5-1.3,2.3-2.8  c-0.1-1.2-1-2.1-2.1-2.3c-0.5-1.3-2-1.9-3.3-1.4c-0.6,0.3-1.1,0.8-1.4,1.4c-1.4,0.2-2.4,1.5-2.2,2.9C19.9,12.3,20.9,13.3,22.1,13.3  L22.1,13.3z M23.6,14v-0.7H25V14L23.6,14z M22.3,9.7h0.1l0.7,0.1l0.1-0.7c0.1-0.5,0.5-0.9,1-0.9c0.5,0,1,0.4,1,0.9l0.1,0.7l0.7-0.1  c0.6,0,1.1,0.4,1.1,1c0,0.6-0.4,1.1-1,1.1l0,0h-4c-0.6,0.1-1.1-0.4-1.2-1s0.4-1.1,1-1.2C22.1,9.7,22.2,9.7,22.3,9.7L22.3,9.7z"></path>
                                    <path fill="none" class="st0" d="M22.9,19c-1.4,0-2.6,1.1-2.6,2.5c0,1.4,1.1,2.6,2.5,2.6s2.6-1.1,2.6-2.5c0,0,0,0,0,0C25.4,20.1,24.3,19,22.9,19  z M22.9,22.6c-0.6,0-1.1-0.4-1.1-1c0-0.6,0.4-1.1,1-1.1c0.6,0,1.1,0.4,1.1,1c0,0,0,0,0,0C23.9,22.1,23.5,22.6,22.9,22.6  C22.9,22.6,22.9,22.6,22.9,22.6L22.9,22.6z"></path>
                                    <path fill="none" class="st0" d="M40.7,24.5c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2c0,0,0,0,0,0  C42.9,25.5,41.9,24.5,40.7,24.5z M40.7,27.5c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7c0,0,0,0,0,0  C41.4,27.1,41.1,27.4,40.7,27.5L40.7,27.5z"></path>
                                    <path fill="none" class="st0" d="M13.1,15.7c-0.6,0.2-1.1,0.7-1.4,1.2c-0.6,1.4,0.1,3.4,3,8.7c0.9,1.7,2.1,3.6,3.3,3.6c0.1,0,0.2,0,0.3,0  c1-0.3,1.3-1.7,1.1-4.9c-0.5-6.2-0.7-8.2-1.9-9c-0.6-0.4-1.4-0.5-2.1-0.2l0.4-4.4c0.1-0.4-0.2-0.8-0.6-0.9s-0.8,0.2-0.9,0.6  c0,0,0,0.1,0,0.1L14,12.2l-0.8-2.7c-0.1-0.4-0.5-0.6-0.9-0.5c-0.4,0.1-0.6,0.5-0.5,0.9l0.9,3.1l-1.2-1.4c-0.3-0.3-0.7-0.4-1-0.1  c0,0,0,0,0,0c-0.3,0.3-0.4,0.7-0.1,1.1c0,0,0,0,0,0L13.1,15.7z M16.1,16.5c0.1,0,0.3,0,0.4,0.1c0.2,0.2,0.3,0.4,0.4,0.7l-1,0.3  c-0.3,0.1-0.4,0.4-0.4,0.6c0.1,0.2,0.3,0.4,0.5,0.4h0.1l0.9-0.3c0.2,1,0.3,2.4,0.5,4.1l-1.3,0.4c-0.3,0.1-0.4,0.4-0.3,0.6  c0.1,0.2,0.3,0.4,0.5,0.4c0,0,0.1,0,0.1,0l1.1-0.3c0,0.4,0.1,0.8,0.1,1.2c0,0,0,0.1,0,0.1l-0.5,0.1c-0.3,0.1-0.4,0.3-0.4,0.6  c0.1,0.2,0.3,0.4,0.5,0.4c0,0,0.1,0,0.1,0l0.3-0.1c0.1,0.7,0,1.3-0.1,2C17,26.9,16.4,26,16,25l0,0c-1.8-3.3-3.4-6.4-3-7.4  c0.2-0.4,0.9-0.6,1.8-0.9C15.3,16.6,15.7,16.5,16.1,16.5z"></path>
                                    <path fill="none" class="st0" d="M9.8,30v0.8c0,9.1,7.4,16.5,16.5,16.5s16.5-7.4,16.5-16.5V30H9.8z M26.4,45.8c-8,0-14.6-6.3-15-14.3h30  C41,39.4,34.4,45.8,26.4,45.8z"></path>
                                </svg>
                            </div>
                            <div class="item-txt">
                                <div class="item-txt-wrap">Regularly</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-part container" id="questions-container-action"></div>
    </div>
</div>
