<div class="section-container section-result quiz-main-container quiz-8" style="display: none;">
      <div class="s-wrap">
          <div class="s-part container">
              <div class="s-part__number h1 female_numbers" id="question_number">7</div>
              <div class="s-part__number h1 male_numbers" style="display:none;" id="question_number">6</div>
              <div class="s-part__inner s-title">
                  <div id="section-title" class="s-subttl">Your skin assessment</div>
                  <div id="question-title" class="s-ttl h2">The skin concerns I'd most like to address are:</div>
              </div>
          </div>
          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="question-description" class="s-txt">Please select three of the options below.</div>
              </div>
          </div>

          <div class="s-part container">
              <div class="s-part__empty"></div>
              <div class="s-part__inner">
                  <div id="s-list-questions" class="s-list-question" data-tag="skin-concern" data-male="6" data-female="7" data-step="8">
                      <div class="s-list__item-wrap-multi s-list__item-wrap" data-serums="cer,col">
                          <div id="answer_36" class="answer s-list__item" data-questiontype="multiple" data-lines="S,S,S" data-answerid="36">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>05_dry_tight_skin0</title>
                                      <polyline fill="none" class="cls-1" points="50 17.18 44.45 15.19 38.9 17.18 33.34 15.19 27.79 17.18 22.23 15.19 16.68 17.18 11.12 15.19 5.56 17.18 0 15.19"></polyline>
                                      <polyline fill="none" class="cls-2" points="50 27.18 44.45 25.18 38.9 27.18 33.34 25.18 27.79 27.18 22.23 25.18 16.68 27.18 11.12 25.18 5.56 27.18 0 25.18"></polyline>
                                      <polyline fill="none" class="cls-3" points="50 37.19 44.45 35.19 38.9 37.19 33.34 35.19 27.79 37.19 22.23 35.19 16.68 37.19 11.12 35.19 5.56 37.19 0 35.19"></polyline>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Dry, tight skin</div>
                              </div>
                          </div>
                      </div>
                      <div class="s-list__item-wrap-multi s-list__item-wrap" data-serums="lic,cer">
                          <div id="answer_37" class="answer s-list__item" data-questiontype="multiple" data-lines="S,S,S" data-answerid="37">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>06_sensitive0</title>
                                      <path fill="none" class="cls-1" d="M50,26.9c-2.27,0-2.27-.5-4.54-.5s-2.27.5-4.54.5-2.27-.5-4.54-.5-2.27.5-4.54.5-2.27-.5-4.54-.5-2.27.5-4.54.5-2.27-.5-4.54-.5-2.27.5-4.54.5-2.27-.5-4.55-.5-2.28.5-4.55.5S2.28,26.4,0,26.4"></path>
                                      <line fill="none" class="cls-2" x1="50" y1="36.65" y2="36.65"></line>
                                      <line fill="none" class="cls-2" x1="25" y1="17.69" x2="25" y2="13.35"></line>
                                      <line fill="none" class="cls-2" x1="3.33" y1="18.7" x2="6.4" y2="21.76"></line>
                                      <line fill="none" class="cls-2" x1="46.67" y1="18.7" x2="43.6" y2="21.76"></line>
                                      <line fill="none" class="cls-2" x1="14.12" y1="14.94" x2="15.75" y2="18.95"></line>
                                      <line class="cls-2" x1="35.88" y1="14.94" x2="34.25" y2="18.95"></line>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Sensitive or hyper-reactive skin</div>
                              </div>
                          </div>
                      </div>

                      <div class="s-list__item-wrap-multi s-list__item-wrap" data-serums="vta,vtb,chl">
                          <div id="answer_38" class="answer s-list__item" data-questiontype="multiple"  data-lines="S,S,S" data-answerid="38">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>10_farkspots0</title>
                                      <line fill="none" class="cls-1" x1="50" y1="16.19" y2="16.19"></line>
                                      <line class="cls-2" x1="50" y1="36.19" y2="36.19"></line>
                                      <circle fill="none" class="cls-3" cx="19.06" cy="30.43" r="1.21" transform="translate(-15.93 22.39) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="6.5" cy="30.43" r="1.99" transform="translate(-19.61 13.51) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="19.06" cy="22.43" r="1.81" transform="translate(-10.28 20.04) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="6.5" cy="22.43" r="0.84" transform="translate(-13.96 11.16) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="25.33" cy="26.43" r="0.86" transform="translate(-11.27 25.65) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="12.78" cy="26.43" r="1.21" transform="translate(-14.94 16.77) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="31.67" cy="22.43" r="1.21" transform="translate(-6.59 28.96) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="44.23" cy="22.43" r="1.99" transform="translate(-2.91 37.85) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="31.67" cy="30.43" r="1.81" transform="translate(-12.24 31.31) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="44.23" cy="30.43" r="0.84" transform="translate(-8.57 40.19) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="37.95" cy="26.43" r="1.21" transform="translate(-7.58 34.58) rotate(-45)"></circle>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Dark spots, pigmentation, blotchy skin, or acne sc</div>
                              </div>
                          </div>
                      </div>
                      <div class="s-list__item-wrap-multi s-list__item-wrap" data-serums="vtb,vtc">
                          <div id="answer_39" class="answer s-list__item" data-questiontype="multiple"  data-lines="S,S" data-answerid="39">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>09_largepores0</title>
                                      <path fill="none" class="cls-1" d="M50,23.85c-3.12,0-3.12-2-6.25-2s-3.12,2-6.25,2-3.12-2-6.25-2-3.12,2-6.25,2-3.12-2-6.25-2-3.13,2-6.25,2-3.13-2-6.26-2-3.13,2-6.26,2"></path>
                                      <path fill="none" class="cls-2" d="M50,33.85c-3.12,0-3.12-2-6.25-2s-3.12,2-6.25,2-3.12-2-6.25-2-3.12,2-6.25,2-3.12-2-6.25-2-3.13,2-6.25,2-3.13-2-6.26-2-3.13,2-6.26,2"></path>
                                      <circle fill="none" class="cls-3" cx="25" cy="18.36" r="1.21" transform="translate(-5.66 23.06) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="12.88" cy="18.36" r="1.21" transform="translate(-9.21 14.49) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="37.32" cy="18.36" r="1.21" transform="translate(-2.05 31.77) rotate(-45)"></circle>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Large pores or rough skin texture</div>
                              </div>
                          </div>
                      </div>
                      <div class="s-list__item-wrap-multi s-list__item-wrap" data-serums="vtb,vtc,lic">
                          <div id="answer_40" class="answer s-list__item" data-questiontype="multiple"  data-lines="S,S" data-answerid="40">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>08_oily_acne_prone0</title>
                                      <path fill="none" class="cls-1" d="M50,17.19c-3.12,0-3.12-2-6.25-2s-3.12,2-6.25,2-3.12-2-6.25-2-3.12,2-6.25,2-3.12-2-6.25-2-3.13,2-6.25,2-3.13-2-6.26-2-3.13,2-6.26,2"></path>
                                      <path fill="none" class="cls-2" d="M50,37.19c-3.12,0-3.12-2-6.25-2s-3.12,2-6.25,2-3.12-2-6.25-2-3.12,2-6.25,2-3.12-2-6.25-2-3.13,2-6.25,2-3.13-2-6.26-2-3.13,2-6.26,2"></path>
                                      <circle fill="none" class="cls-3" cx="19.06" cy="28.43" r="1.21" transform="translate(-14.52 21.8) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="6.5" cy="28.43" r="1.21" transform="translate(-18.2 12.92) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="31.61" cy="28.43" r="1.21" transform="translate(-10.84 30.68) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="44.17" cy="28.43" r="1.21" transform="translate(-7.16 39.56) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="25.33" cy="32.43" r="1.21" transform="translate(-15.51 27.41) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="12.78" cy="32.43" r="1.21" transform="translate(-19.19 18.53) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="37.89" cy="32.43" r="1.21" transform="translate(-11.83 36.29) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="19.06" cy="20.43" r="1.21" transform="translate(-8.86 19.46) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="6.5" cy="20.43" r="1.21" transform="translate(-12.54 10.58) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="31.61" cy="20.43" r="1.21" transform="translate(-5.18 28.34) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="44.17" cy="20.43" r="1.21" transform="translate(-1.51 37.22) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="25.33" cy="24.43" r="1.21" transform="translate(-9.85 25.07) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="12.78" cy="24.43" r="1.21" transform="translate(-13.53 16.19) rotate(-45)"></circle>
                                      <circle fill="none" class="cls-3" cx="37.89" cy="24.43" r="1.21" transform="translate(-6.17 33.95) rotate(-45)"></circle>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Oily or acne-prone skin </div>
                              </div>
                          </div>
                      </div>
                      <div class="s-list__item-wrap-multi s-list__item-wrap" data-serums="vta,cqt,chl">
                          <div id="answer_41" class="answer s-list__item" data-questiontype="multiple"  data-lines="S,S,S" data-answerid="41">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>04_dark_circles0</title>
                                      <path fill="none" class="cls-1" d="M15.68,17.27a9.29,9.29,0,0,1,2.73-6.59c1.69-1.69,4-.28,6.59-.28s4.9-1.41,6.59.28a9.32,9.32,0,1,1-15.91,6.59Z"></path>
                                      <path fill="none" class="cls-2" d="M2.24,19.5S12.43,10.07,25,10.07,47.76,19.5,47.76,19.5,37.57,28.92,25,28.92,2.24,19.5,2.24,19.5Z"></path>
                                      <line class="cls-3" x1="25" y1="35.82" x2="25" y2="40.15"></line>
                                      <line class="cls-3" x1="46.67" y1="33.81" x2="43.6" y2="30.74"></line>
                                      <line class="cls-3" x1="3.33" y1="33.81" x2="6.4" y2="30.74"></line>
                                      <line class="cls-3" x1="35.88" y1="38.57" x2="34.25" y2="34.55"></line>
                                      <line class="cls-3" x1="14.12" y1="38.57" x2="15.75" y2="34.55"></line>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Dark circles, puffiness or eye bags</div>
                              </div>
                          </div>
                      </div>

                      <div class="s-list__item-wrap-multi s-list__item-wrap " data-serums="vta,cqt">
                          <div id="answer_42" class="answer s-list__item" data-questiontype="multiple"  data-lines="S,S,S" data-answerid="42">
                              <div class="item-pic">
                                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 50 50" width="45" height="45">
                                      <title>07_fine_lines_wrinkles0</title>
                                      <path fill="none" class="cls-1" d="M50,12.63,39.53,15.55a54.16,54.16,0,0,1-29.21,0L0,12.63"></path>
                                      <path fill="none" class="cls-2" d="M50,22.63,39.53,25.55a54.16,54.16,0,0,1-29.21,0L0,22.63"></path>
                                      <path fill="none" class="cls-3" d="M50,32.45,39.53,35.38a54.16,54.16,0,0,1-29.21,0L0,32.45"></path>
                                  </svg>
                              </div>
                              <div class="item-txt">
                                  <div class="item-txt-wrap">Fine lines, wrinkles, or sagging skin</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
