<div class="container">
  <div class="reward_center">
    <div class="reward_text">
      <h4>My Skin Inc Rewards</h4>
      <p>Welcome Back {{ customer.first_name }}!</p>
    </div>
    <div class="reward_pt ">
       <h4>My Reward Points</h4>
       <p><span data-lion-points></span></p>
    </div>
    <div class="reward_pt tier">
       <h4>My Tier</h4>
       <div data-lion-tier-overview></div>
    </div>
  </div>
</div>