 <!-- Yotpo Star Rating - Category Page --> 
<a href="{{ product.url }}">
    <div class="yotpo bottomLine"
        data-product-id="{{ product.id }}"
        data-url="{{ product.url }}">
    </div> 
</a>
<!-- End of Yotpo Star Rating - Category Page -->
