<!-- <a href="{{ product.url }}#reviews">
  <div class="yotpo bottomLine" data-product-id="{{ product.id }}" data-url="{{ product.url }}"> </div>
</a>
 -->

<!-- Yotpo Star Rating - Product Page --> 
<div class="yotpo bottomLine"
  data-product-id="{{ product.id }}">
</div>
<!-- End of Yotpo Star Rating - Product Page -->