<section class="section spaced our-approach " data-section-id="{{ section.id }}">
  <div class="container before-after">
    <h2>OWN YOUR RESULTS, NOT THE DEVICE</h2>
    <div class="row ">
      <div class="col-6">
        <div class="content">
      	<img src="https://cdn.shopify.com/s/files/1/0077/6162/5201/files/before.png?v=1648014815">
        <p>Before</p>
      </div>
      </div>
      <div class="col-6">
        <div class="content">
      	<img src="https://cdn.shopify.com/s/files/1/0150/9231/8256/files/after.png?v=1647949176">
        <p>After</p>
      </div>
      </div>
    </div>
    <p>*Results after 28 days</p>
  </div>
</section>
