<section class="section spaced bordered featured-products-section devvv" data-section-id="{{ section.id }}">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="best-sellers-tab" class="nav-link active" href="#" data-target="#featured-products-best-sellers">Best Sellers</a>
        </li>
        <li class="nav-item">
          <a id="custom-serums" class="nav-link" href="#"  data-target="#featured-products-custom-serums">Custom Serums</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="featured-products-best-sellers" role="tabpanel" aria-labelledby="best-sellers-tab">
          <div class="list carousel">
            
            {% paginate collections.all.products by 500 %}
            
            {%- for block in section.blocks -%}
            {% for product in collections.all.products %}
              {%- if block.settings.type == "best_sellers" -%}
              	{%- if product.handle == block.settings.product -%}
                  {%- if product != blank -%}
                    <div class="item">
                      {%- include 'product-card', show_add_to_cart: true -%}
                    </div>
                  {%- endif -%}
            	{%- endif -%}
              {%- endif -%}
            {%- endfor -%}

            {% endfor %}
            {% endpaginate %}
          
          </div>
        </div>
        <div class="tab-pane" id="featured-products-custom-serums" role="tabpanel" aria-labelledby="custom-serums-tab">
          <div class="list carousel">
          {% paginate collections.all.products by 500 %}
            
            {%- for block in section.blocks -%}
            {% for product in collections.all.products %}
              {%- if block.settings.type == "custom_serums" -%}
              	{%- if product.handle == block.settings.product -%}
                  {%- if product != blank -%}
                    <div class="item">
                      {%- include 'product-card', show_add_to_cart: true, show_labels: true -%}
                    </div>
                  {%- endif -%}
            	{%- endif -%}
              {%- endif -%}
            {%- endfor -%}

            {% endfor %}
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
</section>
{% schema %}
{
  "name": "Featured products New",
  "max_blocks": 150,
  "blocks": [
     {
       "type" : "product",
       "name" : "Product",
       "settings" : [
           {
             "type": "product",
             "id": "product",
             "label": "Product"
           },
           {
             "type": "select",
             "id": "type",
             "label": "Type",
             "options": [
               {
                 "value": "best_sellers",
                 "label": "Best Sellers"
               },
               {
                 "value": "custom_serums",
                 "label": "Custom Serums"
               }
             ],
             "default": "best_sellers"
           }
       ]
     }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured products New"
    }
  ]
}
{% endschema %}
