<section class="section spaced bordered products-awards-section" data-section-id="{{ section.id }}">
    <div class="container">
       <h1 class="header text-center">{{ section.settings.heading | escape }}</h1>
       <div class="row">
         {%- for block in section.blocks -%}
           {%- assign product = all_products[block.settings.product] -%}
           <div class="col-sm-4">
             {%- include 'product-award' -%}
           </div>
         {%- endfor -%}
       </div>
    </div>
  </div>

{% schema %}
{
  "name": "Product Awards",
  "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
  ],
  "blocks": [
     {
       "type" : "product",
       "name" : "Product",
       "settings" : [
           {
             "type": "product",
             "id": "product",
             "label": "Product"
           }
       ]
     }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Product Awards"
    }
  ]
}
{% endschema %}
