<section class="section spaced bordered store-locator">
  <div class="container">
    <h2 class="header">
      {{ section.settings.heading | escape}}
      <small>{{ section.settings.subheading | escape}}</small>
    </h2>
    <div id="storepoint-container" data-map-id="15c189ae39c349"></div><script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/api/v1/js/15c189ae39c349.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script>
  </div>
</section>
{% schema %}
{
  "name": "Store Locator",
  "settings" : [
    {
      "type": "text",
      "id": "heading",
      "label": "Header"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Header"
    }
  ],
  "presets": [
  {
    "category": "Text",
    "name": "Store Locator"
  }
  ]
}
{% endschema %}
