<div class="container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="header">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent Rte">
    {{ page.content }}
  </div>
</div>
