<div class="reward-page">
  <div class="container">
    <div class="banner_reward">
      <h2>You can redeem your points at check out</h2>
      <p>You can redeem your points at check out 20 points per $1</p>      
    </div>
    <div class="how_it_works reward_icon">
      {% section 'loyalty-rewards' %}
      
    </div>       
    
  </div>
</div>
