<div class="reward-page">
  <div class="container">
    <div class="banner_reward">
      <h2>Tier</h2>      
    </div>
    <div class="how_it_works tier_all">
      <div data-lion-tier-overview></div>
    </div>      
     
  </div>
</div>