<div class="container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="header">Skin Identity Check</h1>
    </div>

    <div class="section-hero para-quiz-text">
      <div class="container s-wrap text-center">
        <span>Did you know up to 80% of skin concerns are caused by lifestyle and environment? One size does not fit all. You are unique, and so is your skin. Our quick diagnostic tool and proprietary algorithm relies upon a database of over 1 million skin profiles. Take the quiz and let us build a custom serum cocktail, personalized for your skin.</span>
      </div>
    </div>

  </header>

  <div class="">
    {% render 'skinid-content' %}
  </div>
</div>
