<div class="reward-page">
  <div class="container">  
    
    
    <div class="banner_reward">
      <h2>Be rewarded</h2>
      <p>Every time you shop with Skin Inc along with completing <br>other steps to earn rewards.</p>      
    </div>  
    <div class="how_it_earn">
      <h2>How to earn points</h2>
      <div data-lion-rules-list></div>
    </div>
    

    
  </div>
</div>