<div class="reward-page">
  <div class="container">
    <div class="banner_reward">
      <h2>Refer a Friend</h2>      
    </div>
    <div class="how_it_works refer-friend">
      {% if customer %}
        <a href="#" data-lion-refer>Refer your friends and get $50</a>
      {% else %}
         <a href="/pages/my-account" class="rews_dign">Login or Sign up</a>
      {% endif %}
      
    </div>       
     
  </div>
</div>