<div id="skinid"></div>
<script type="text/javascript">
var link = document.createElement( "link" );
link.href = "https://d3gk6ho87bjc47.cloudfront.net/public/assets/us/app.css";
link.type = "text/css";
link.rel = "stylesheet";
link.media = "screen,print";

document.getElementsByTagName( "head" )[0].appendChild( link );
</script>
<script type="text/javascript" defer  src="https://d3gk6ho87bjc47.cloudfront.net/public/assets/us/app.js"></script>